$sansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;

$font-regular: 15px;
$font-large: 18px;
$size-siteHeader: 2.6rem;
$size-h1: 1.84524rem;
$size-h2: 2.153rem;
$size-h3: 1.9rem;
$size-h4: 1.25rem;
$size-p: 0.9rem;
$line-height-regular: 1.45;
$line-height-heading: 1;
$containerPadding: 1.5rem;

$letter-spacing-small: 0.2;

$color-brand: #663399;
$color-lilac: #9d7cbf;
$color-accent: #ffb238;
$color-success: #37b635;
$color-warning: #ec1818;
$color-ui-bright: #e0d6eb;
$color-ui-light: #f5f3f7;
$color-ui-whisper: #fbfafc;
$color-code: #fcf6f0;
$color-gray-header: #a3a3a3;
$color-gray-dark: hsla(270, 17.119554496%, 0%, 0.92);
$color-gray-copy: hsla(270, 15.797828016000002%, 0%, 0.88);
$color-gray-calm: rgba(0, 0, 0, 0.54);
$color-white: #fcfcfc;
$color-black-transparent: rgba(0, 0, 0, 0.3);
$color-orange: #ee7917;
$color-green: #00933f;
$color-red: #e53129;
$color-blue: #009be1;
$color-black: #545456;

// From Card Component

// Employee Tile

// Footer

.FooterDiv {
  width: auto;
  height: auto;
  text-align: center;
  background-color: $color-orange;
}

.StyledFooter {
  height: auto;
  width: 100%;
  padding: 0 $containerPadding;
  background-color: $color-orange;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @supports (-ms-flow-from: thingy) {
    justify-content: space-around;
  }

  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.StyledFooterDiv {
  text-align: left;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.H4Footero {
  color: $color-white;
  font-weight: 500;
  /* padding: 1.4rem; */
}

.StyledIMG {
  width: auto;
  height: 100px;
}

.LinkEmail {
  cursor: pointer;
  color: $color-white;
  text-decoration: underline;
  text-decoration-color: white;
}

.LinkEmailOut {
  cursor: pointer;
  color: $color-white;
  text-decoration: underline;
  text-decoration-color: white;
}

.LinkWhite {
  color: $color-white;
}

// Four Columns

.FlexDivContentCenter {
  height: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media only screen and (max-width: 799px) {
    flex-direction: column;
  }
}

.OneColumn {
  width: 24vw;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 799px) {
    flex-direction: column;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.HomepageLink {
  color: $color-white;
  top: 35%;
  white-space: nowrap;
  text-align: center;
  font-weight: 600;
}

.IconForButton {
  width: 120px;
  height: 120px;
}

// HeroSlider

.Hero {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  color: $color-white;
  text-align: center;
  // width: 100vw;
  height: 70vh;

  @media only screen and (max-width: 550px) {
    height: 25vh;
  }
}

.HeroImage {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  object-fit: cover;
  animation: fade;
  animation-duration: 1.3s;

  @media only screen and (max-width: 550px) {
    border-radius: 0px;
    object-fit: fill;
  }
}

// Image with Link

.CardImg {
  width: 100%;
  height: auto;
}

// Page

.max-container {
  width: 80vw;
  margin: auto;
  padding-bottom: 3rem;

  @media only screen and (max-width: 550px) {
    width: 96vw;
  }
}

// layout
.d-flex {
  display: flex;
  flex-direction: row;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-block {
  display: block;
}

.align-center {
  align-content: center;
  align-items: center;
}

.position-sticky-top {
  position: sticky;
  top: 0;
}

.justify-center {
  justify-items: center;
  justify-content: center;
}

.justify-space-around {
  justify-items: center;
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;

  @supports (-ms-flow-from: thingy) {
    justify-content: space-around;
  }
}

.z-10 {
  z-index: 10;
}

.overflow-hidden {
  overflow: hidden;
  background-color: transparent;
}

.height-transition {
  transition: height 450ms ease-in-out;
}

.w-100 {
  width: 100%;
}

.hover-orange {
  &:hover {
    border-bottom: solid 2px $color-orange;
    transition: border-bottom 350ms ease-in-out;
  }
}

.ml-5rem {
  margin: {
    left: 5rem;
  }

  @media only screen and (max-width: 550px) {
    margin: 0;
  }
}

.img-link-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.padding-heading {
  padding-top: 6.4rem;
  padding-bottom: 2.4rem;
}

@import "./text.scss";
@import "./colors.scss";
@import "./normalize.scss";
@import "../components/navbar/nav.scss";
@import "../components/card.scss";
@import "../components/employeeTile.scss";
@import "./pages.scss";
