.color-green {
  color: $color-green;
}

.color-white {
  color: $color-white;
}

.color-orange {
  color: $color-orange;
}

.color-blue {
  color: $color-blue;
}

.color-black {
  color: $color-black;
}

.color-red {
  color: $color-red;
}

.bg-grey {
  background-color: $color-gray-header;
}

.bg-orange {
  background-color: $color-orange;
}
