.card-container {
  width: 350px;
  background-color: $color-orange;
  position: relative;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 25px;

  @media only screen and (max-width: 890px) {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 390px) {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-image {
  width: 100%;
  height: auto;
}

.card-link {
  width: 100%;
  height: auto;
  bottom: 0;
  position: absolute;
  background-color: $color-orange;
}

.card-heading {
  text-align: center;
  color: $color-white;
  cursor: pointer;
  font-size: 15px;
}
