// HeroSlider

.bubble-container {
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $color-orange;
  height: 76vh;
  overflow: hidden;

  .bubble-image-container {
    border-radius: 50%;
    border: 0.5vh solid $color-white;
  }

  .bubble-zoom-in {
    animation: zoomIn;
    animation-timing-function: ease-in-out;
    animation-duration: 250ms;
  }
  .bubble-zoom-out {
    animation: zoomOut ease-in-out;
    animation-duration: 250ms;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
      opacity: 1;
    }
  }

  @keyframes zoomOut {
    from {
      opacity: 1;
    }

    50% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
      opacity: 0;
    }
  }

  .bubble-0 {
    flex-shrink: 0;
    z-index: 1;
    transform: translate(0%, -10%);
    width: 800px;
  }

  .bubble-1 {
    flex-shrink: 0;
    transform: translate(0%, 80%);

    width: 450px;
  }

  .bubble-2 {
    flex-shrink: 0;
    // transform: translate(0%, 80%);
    width: 550px;
  }

  .bubble-3 {
    flex-shrink: 0;
    transform: translate(0%, 40%);
    width: 350px;
  }

  .bubble-4 {
    flex-shrink: 0;
    transform: translate(0%, -40%);
    width: 350px;
  }

  .bubble-5 {
    flex-shrink: 0;
    transform: translate(0%, 30%);
    width: 250px;
  }

  .bubble-6 {
    flex-shrink: 0;
    transform: translate(0%, -70%);
    width: 450px;
    z-index: 3;
  }

  .bubble-7 {
    flex-shrink: 0;
    transform: translate(0%, 40%);
    width: 400px;
  }
}
